
 #banner-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/kawasako/thumb-1920-613763.jpg);
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #banner-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/vixian/download.jpeg);
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .banner-text h1{
      font-size: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .banner-text p{
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.product-img img{
    max-width: 100%;
    height: auto;
    
} 

.product-img{
    height: auto;
    width: 350px;
    padding: 15px 0;
}

.product-name{
    font-size: 16px;
    
    margin-bottom: 20px;
}

.motorcycle-price{
    margin-bottom: 25px;
}
.motorcycle-price h2{
    font-size: 18px;
}
.motorcycle-type p{
    font-weight: 600;
    margin-bottom: 10px;
}
.motorcycle-price p{
    margin-bottom: 3px;
    font-size: 12px;
    color: #4f4f4f;
}
.box-product{
    padding: 35px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #f5f5f5;
    margin: 15px 0;
    font-family: 'manrope', sans-serif;
    
}

.box-product:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#box-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0 80px;
}

@media screen and (max-width:600px){
    .product-img{
        width:250px;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner-text p{
        font-size: 16px;
    }
}